<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                       http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>


  
  <filter>
        <filter-name>IXServerFilter</filter-name>
        <filter-class>com.ixync.filter.IXServerFilter</filter-class>
        <init-param>
            <param-name>conf-reload</param-name>
            <param-value>5000</param-value>
        </init-param>
    </filter>
  
  
  
  <filter-mapping>
        <filter-name>IXServerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  
  
  
	<servlet>
		<servlet-name>IXyncXmlIOServlet</servlet-name>
		<servlet-class>
			com.ixync.xml.servlet.IXyncXmlIOServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/ixync_io.properties</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>IXyncUtilsServlet</servlet-name>
		<servlet-class>
			com.ixync.xml.servlet.IXyncUtilsServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/ixync_io.properties</param-value>
		</init-param>
		<init-param>
			<param-name>bi-config</param-name>
			<param-value>/WEB-INF/bi.properties</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>IXyncXmlIOServlet</servlet-name>
		<url-pattern>/ixyncService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>IXyncUtilsServlet</servlet-name>
		<url-pattern>/ixyncUtils</url-pattern>
	</servlet-mapping>
  
 
  
  </web-app>