@charset "utf-8";

/*cms*/
.sift_left.img{line-height:0;}
.sift_left.img.line_box{border:1px solid #d7d7d7}

/*cms tabs*/
.sift_tabs {margin-left:1px;position:relative;text-align: left;min-height:800px;}
.sift_tabs:after{content:'';display:block;clear:both;}
.sift_tabs>li {margin-left:-1px;float:left;display:block;}
.sift_tabs input[type="radio"] {position:absolute;top:-9999px;left:-9999px;}
.sift_tabs label {margin:0 !important;padding:0 !important;position:relative;top:0;display:block;font-size:16px;font-weight:bold;width:154px;height:36px !important;line-height:36px !important;text-align:center;border:1px solid #adadad;
background:#f5f5f5;cursor:pointer;}
.sift_tabs .sift_tab_content{opacity:0;padding:8px 12px;position:absolute;top:36px;left:-1px;z-index: 2;display:none;overflow:hidden;width:100%;font-size:17px;line-height:25px;border: 2px solid #a767a0;background:#fafafa;box-sizing:border-box;}
.sift_tabs .sift_tab_content:after{content:'';display:block;clear:both;}
.sift_tabs [id^="tab"]:checked + label {padding:0;margin:0;top:0;z-index:5;color:#a767a0;width:154px;height:35px;line-height:35px;text-align:center;background-color:#fafafa;border:2px solid #a767a0;border-bottom:0;}
.sift_tabs [type=radio]+label:before{background-image:none}
.sift_tabs [id^="tab"]:checked ~ [id^="tab-content"]{display:block;opacity:1;}

.sift_cms_box{margin:0 0 10px 12px;padding:15px;width:476px;min-height:195px;background:#f3f3f3}
.sift_cms_box>h3{font-size:18px;color:#484747}
.sift_cms_box>ul>li{color:#808080;height:21px;font-size:13px;}
.sift_cms_box>ul>li>.sift_cms_icon{margin:0 8px 4px 0;display:inline-block;width:4px;height:4px;vertical-align:middle;background:#808080}

.sift_cms_service{margin:56px 0}
.sift_cms_service>dt{padding:0 16px;display:inline-block;height:37px;line-height:37px;font-size:18px;color:#808080;font-weight:bold;background:#f1f1f1}
.sift_cms_service>dd{margin:4px 0 50px;font-size:15px;color:#808080;line-height:28px}

.sift_cms_box2{background:#f1f1f1}
.sift_cms_box2:after{content:'';display:block;clear:both;}
.sift_cms_box2 .sift_cms_h3{margin:24px 0 0 20px;padding-left:14px;font-size:30px;line-height:27px;color:#a767a0;border-left:6px solid #a767a0}
.sift_cms_box2 .sift_cms_h3>p{padding-top:19px;font-size:24px;line-height:20px}

.sift_cms_box3{padding:40px 73px;border-top:3px solid #aa70a4;border-bottom:3px solid #aa70a4;background:#f6f6f6}
.sift_cms_box3:after{content:'';display:block;clear:both;}
.sift_cms_box3>li:first-child{margin-left:0}
.sift_cms_box3>li{margin-left:45px;}
.sift_line_text.v2{background:#f7f3f7}
.sift_line_text{padding:26px 15px;height:165px;border-top:1px solid #d7d7d7;background:#fff}
.sift_line_text>h3>em{padding-bottom:2px;display:block;font-size:22px;line-height:42px;color:#686868;}
.sift_line_text>h3>.sift_s{display:block;font-size:15px;color:#adadad}
.sift_sp_cms{display:inline-block;background:url(/cm/kait/images/sp_sms_icon.png) no-repeat;}
.sift_sp_cms.num1{display:block;width:36px;height:25px;background-position:0 0}
.sift_sp_cms.num2{display:block;width:36px;height:25px;background-position:-50px 0}
.sift_sp_cms.num3{display:block;width:36px;height:25px;background-position:-100px 0}
.sift_sp_cms.num4{display:block;width:36px;height:25px;background-position:-150px 0}
.sift_sp_cms.num5{display:block;width:36px;height:25px;background-position:0 -30px}

.sift_cms_h3{margin:0 0 10px 12px;font-size:18px;color:#484747}
.sift_cms_table{margin:0 0 10px 12px;width:506px;border:1px solid #bababa;border-top:1px solid #fff;border-collapse:collapse;box-sizing:border-box;}
.sift_cms_table>caption{padding-bottom:5px;font-size:15px;line-height:18px;text-align:left;color:#817d81;font-weight:bold;border-bottom:1px solid #bababa;}
.sift_cms_table>caption>.sift_cms_icon{padding-left:5px;line-height:17px;vertical-align:middle;border-left:3px solid #d5d5d5;}
.sift_cms_table>thead>tr>th{padding:10px 0 12px;font-size:15px;color:#817d81;line-height:16px;text-align:center;border-left: 1px solid #bababa;border-bottom:2px solid #d0d0d0;background:#f1f1f1}
.sift_cms_table>thead>tr>th:first-child{border-left:0}
.sift_cms_table>tbody>tr>td{padding:10px 0 12px;font-size:14px;color:#817d81;line-height:17px;text-align:center;border-left:1px solid #bababa;border-top:1px solid #bababa;background:#fff}
.sift_cms_table>tbody>tr:first-child>td{border-top:0}
.sift_cms_table>tbody>tr>td:first-child{border-left:0}
