@CHARSET "UTF-8";

.jqx-grid{border-color: #bababa !important;box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;}
.jqx-grid .jqx-grid-cell{border-color: #c4c4c4 !important; }
.jqx-grid .jqx-grid-header{border-bottom: 3px solid #d0d0d0;
/*     border-bottom: 1px solid #f00; */
/*  border-top: 2px solid #fff; */
/*  background: #fff !important; */
}

/* grid sort fulldownmenu toggle hide */
.jqx-grid-column-sortdescbutton{display:none !important;}
.jqx-grid-column-sortascbutton{display:none !important;}

.jqx-grid .jqx-grid-column-header.jqx-widget-header{border-top: 2px solid #fff;line-height: 0.9em}
.jqx-grid .jqx-grid-header>div>div>div{font-family:'微软雅黑 Regular', '微软雅黑', "Microsoft Yahei", Arial, sans-serif; font-size: 15px; font-weight: bold; color: #817d81;}
.jqx-grid .jqx-grid-column-header .jqx-grid-column-menubutton{border-style: none;}
.jqx-grid .jqx-grid-cell{background: transparent;}
.jqx-grid .jqx-fill-state-hover{background: #f4e9f3;}
.jqx-grid .jqx-fill-state-pressed{background: #f0f0f0;}

 .jqx-grid .jqx-grid-cell > div.jqx-checkbox{margin-top: -7px!important;}
 .jqx-grid .jqx-grid-cell > div {margin-top: 12px!important;}

/* .jqx-grid .jqx-dropdownlist-state-selected{background: #f5edf4 !important; border-left: 1px solid #c4c4c4;} */
/* .jqx-grid .jqx-dropdownlist-state-selected:hover{background: #f5edf4 !important;} */
.jqx-grid .jqx-dropdownlist-state-normal{background: transparent; border: 0px none #bababa; color: #817d81; box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;}
.jqx-grid .jqx-dropdownlist-state-normal > div{/*margin: 4px!important; border: 1px solid #bababa !important; height: 100%!important; width: 100%!important; */box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;}

.jqx-grid .jqx-dropdownlist-content{text-align: center; text-indent: 25px; font-size: 14px; font-family:'微软雅黑 Regular', '微软雅黑', "Microsoft Yahei", Arial, sans-serif; }

.jqx-grid .jqx-icon-arrow-down, 
.jqx-grid .jqx-icon-arrow-down-hover, 
.jqx-grid .jqx-icon-arrow-down-selected { background-image: url('/cm/kait/images/custom/admin/icons/icon_arrow_combo.png'); background-repeat: no-repeat; background-position: center;}

/* check box */
.jqx-checkbox{font-family:'微软雅黑 Regular', '微软雅黑', "Microsoft Yahei", Arial, sans-serif; font-size: 15px; font-weight: normal; color: #817d81; display: inline-block; margin-left: 13px;}
.jqx-checkbox:first-child {margin-left: 0px;}
.jqx-checkbox .jqx-checkbox-default{width: 14px; height: 14px; border: 1px solid #bcbcbc; border-radius: 0px; background: #fff; vertical-align: middle; display: inline-block; margin-top: 0px; margin-left: 0px;}
.jqx-checkbox .jqx-fill-state-normal>div>span{background: url(/cm/kait/images/custom/admin/icons/icon_checked.png); width: 14px; height: 14px;}
.jqx-checkbox .jqx-disableselect{background: url(/cm/kait/images/custom/admin/icons/icon_checked.png); border: 1px solid #fbfbfb; background-color: #f2f2f2}

.search_wrap .jqx-checkbox .jqx-checkbox-default{width: 14px; height: 14px; border: 1px solid #dfdfdf;}

.search_wrap .jqx-datetimeinput{ border: 1px solid #dfdfdf; display: inline-block; width: 120px !important; height: 26px!important;} 
.search_wrap .jqx-datetimeinput .jqx-input-content{text-indent: 3px; width: 85px !important;  border: 0px none !important; padding: 0px !important; min-height: auto !important; font-size: 14px; font-family: '微软雅黑 Regular', '微软雅黑', "Microsoft Yahei", Arial, sans-serif;} 
.jqx-datetimeinput{ border: 1px solid #dfdfdf; display: inline-block; height: 27px; margin-top: 0px;box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;} 
.jqx-datetimeinput .jqx-datetimeinput .jqx-input-content{text-indent: 3px; width: 85px !important; border: 0px none !important; font-size: 14px; font-family: '微软雅黑 Regular', '微软雅黑', "Microsoft Yahei", Arial, sans-serif;} 
.jqx-datetimeinput .jqx-action-button{left:auto!important; right: 0px;}
.dash{display: inline-block; line-height: 24px; vertical-align: top;}
.jqx-datetimeinput .jqx-icon-calendar, .jqx-icon-calendar-hover, .jqx-icon-calendar-pressed {background-image: url('/cm/kait/images/custom/admin/icons/icon_cal.png'); width: 24px!important;}
.jqx-datetimeinput .jqx-action-button.jqx-fill-state-normal{border-left: 0px none;background: transparent; width: 24px!important;}
.edit_table .jqx-datetimeinput{ border: 1px solid #bcbcbc; display: inline-block; min-height: 29px; width: 110px !important; vertical-align: middle;}
.edit_table .jqx-combobox.jqx-combobox-state-normal{min-height: 29px; min-width: 125px; width: auto!important; height: auto!important; display: inline-block;}
.edit_table tr > td .jqx-datetimeinput input[type="text"] {height: 25px; margin-top: 0px!important; width: 100%; border: 0px none !important; text-indent: 5px;}

.jqx-calendar .jqx-calendar-cell-othermonth{color: #e5e5e5!important; }
.jqx-calendar .jqx-calendar-cell-othermonth:hover{border: 1px #e5e5e5; cursor: pointer; background: #fff; color: #d1b3d6!important;}

.jqx-radiobutton{display: inline-block; vertical-align: middle; white-space: normal; padding: 0px 0px 0px 20px; text-indent: -10px; color: #666 !important; font-size: 14px!important; margin: 0px; margin-right: 7px; box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;font-family: '微软雅黑 Regular', '微软雅黑', "Microsoft Yahei", Arial, sans-serif; }
.jqx-radiobutton> div{display: inline-block;}
.jqx-radiobutton .jqx-radiobutton-default{display: inline-block; float: none; margin: 0px; margin-right: 4px;}
.jqx-radiobutton .jqx-fill-state-normal{background: #fff; border-color: #bcbcbc;    vertical-align: middle;}
.jqx-radiobutton .jqx-fill-state-pressed{background: #9d559f;}

.radio_block .jqx-radiobutton{display: block;margin-top: 4px; margin-right: 5px;}
.radio_block .jqx-radiobutton:first-child{margin-top: 0px;}

.radio_Combo {border: 0px solid #f00;}
.radio_Combo.jqx-widget.jqx-radiobutton .jqx-radiobutton-default{margin-top: 0px; margin-right: 0px; vertical-align: middle;}
/* 팝업 */
.jqx-window{border: 0px none !important;} 
.jqx-window.xgWindowFooter{border: 0px none !important; padding-bottom: 65px;}
/* F:full  L: large M: medium  S: smaill */
.jqx-window.xgWindowFooter.F{
 width:     1240px!important;
 min-width: 1240px!important;
 max-width: 1240px!important;
}
.jqx-window.xgWindowFooter.L{
 width:     1024px!important;
 min-width: 1024px!important;
 max-width: 1024px!important;
}
.jqx-window.xgWindowFooter.M{
 width:     800px!important;
 min-width: 800px!important;
 max-width: 800px!important;
}
.jqx-window.xgWindowFooter.S{
 width:     400px!important;
 min-width: 400px!important;
 max-width: 400px!important;
}
.jqx-window.xgWindowFooter .jqx-window-content.xgWindowContent{border-radius: 0px;}

.jqx-window .jqx-window-header{background: #641f66 !important; border-radius: 0px; padding: 15px 13px 9px; min-height: 27px; 
 border-color: transparent;
 border-width: 0px;
 border-style: none; 
color: #fff;font-family:'微软雅黑 Regular', '微软雅黑', "Microsoft Yahei", Arial, sans-serif; font-size: 16px; font-weight: bold; }
.jqx-window .jqx-window-header .jqx-window-close-button-background{width: 18px !important; height: 18px !important; margin-right: 15px !important; top: 50%; margin-top: -9px;}
.jqx-window .jqx-window-header .jqx-window-close-button-background .jqx-window-close-button{background-image: url('/cm/kait/images/custom/admin/icons/icon_pop_close.png');}
.jqx-window .jqx-window-content{
/*  background: #f9f9f9; */
 border-color: transparent;
 border-width: 0px;
 border-style: none;
}

.jqx-window .jqx-window-content .sift_popup{
padding: 25px; 
/* background: #f9f9f9; */
height: auto!important;
overflow: auto;
/* margin-bottom: 65px; */
box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;
/*  background: #f00; */
}
/* .jqx-window .jqx-window-content #popupWindow{padding: 30px;overflow: scroll;} */
/* 웹버전 팝업 
.jqx-window{}
.jqx-window .jqx-window-header{background: #641f66; border-radius: 0px; padding:  13px 26px 16px 26px; color: #fff;font-family:'微软雅黑 Regular', '微软雅黑', "Microsoft Yahei", Arial, sans-serif; font-size: 28px; font-weight: bold; }
.jqx-window .jqx-window-header .jqx-window-close-button-background{width: 18px !important; height: 18px !important; margin-right: 10px !important; top: 10px;}
.jqx-window .jqx-window-header .jqx-window-close-button-background .jqx-window-close-button{background-image: url('/cm/kait/images/custom/admin/icons/icon_pop_close.png');}
*/



.sift_table_hr2 .jqx-combobox-input{text-indent: 5px;background:#f8f8f8;line-height:30px!important}
.sift_table_hr2 .jqx-combobox.jqx-combobox-state-normal{vertical-align:bottom;border: 1px solid #bcbcbc;min-width:125px;width:auto!important;min-height:30px;height: auto!important; display: inline-block;background:#f8f8f8;}
.sift_table_hr2 .jqx-combobox .jqx-combobox-content{box-sizing:border-box;}
/*.sift_table_hr2 .jqx-combobox .jqx-combobox-content{width:90%!important;box-sizing:border-box;}*/
.sift_table_hr2 .jqx-combobox .jqx-icon-arrow-down, .jqx-icon-arrow-down-hover, .jqx-icon-arrow-down-selected {background-image: url('/cm/kait/images/custom/admin/icons/icon_arrow_combo.png'); background-repeat: no-repeat; background-position: center;}
.sift_table_hr2 .jqx-combobox .jqx-fill-state-normal,
.sift_table_hr2 .jqx-combobox .jqx-fill-state-pressed,
.sift_table_hr2 .jqx-combobox .jqx-fill-state-hover{/*margin-left:-4.6% !important;width:30px!important;*/left: auto!important;right:0px; width: 30px!important; background:#f8f8f8;box-sizing:border-box;}
.sift_table_hr2 .jqx-combobox .jqx-widget-content{border: 0px none;color:#808080;}

/* 에디터 */
.jqx-editor{border: 1px solid #cbcbcb; font-size: 0;}
.jqx-editor.jqx-widget.jqx-rc-all.jqx-widget-header{background: transparent;}
.jqx-editor .jqx-editor-container{padding: 0px;background: transparent;}
.jqx-editor .jqx-editor-container .jqx-editor-content.jqx-widget-content{border: 0px none; margin-top: 0!important; padding: 0px; box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;}
.jqx-editor .jqx-editor-container .jqx-editor-toolbar-container .jqx-editor-toolbar{padding: 4px; background: #f9f9f9; /* margin: 4px;*/border-bottom: 1px solid #cbcbcb;}
.jqx-editor .jqx-editor-container .jqx-editor-toolbar-container .jqx-editor-toolbar .jqx-editor-toolbar-group{margin-top: 0px !important; background: #f6f6f6;}
.jqx-editor .jqx-editor-container .jqx-editor-toolbar-container .jqx-editor-content.jqx-widget-content{ border-style: none;}
.jqx-editor .jqx-editor-container .jqx-editor-toolbar-container .jqx-rc-all{border-radius: 3px !important; background: transparent;}

.search_wrap .jqx-combobox-input{text-indent: 5px;}
.search_wrap .jqx-combobox.jqx-combobox-state-normal{border: 1px solid #dfdfdf; min-height: 29px; min-width: 125px; width: auto!important; height: auto!important; display: inline-block;}
.search_wrap .jqx-combobox .jqx-icon-arrow-down, .jqx-icon-arrow-down-hover, .jqx-icon-arrow-down-selected {background-image: url('/cm/kait/images/custom/admin/icons/icon_arrow_combo.png'); background-repeat: no-repeat; background-position: center;}
.search_wrap .jqx-combobox .jqx-fill-state-normal,
.search_wrap .jqx-combobox .jqx-fill-state-pressed,
.search_wrap .jqx-combobox .jqx-fill-state-hover{background: transparent;}
.search_wrap .jqx-combobox .jqx-widget-content{border: 0px none;}



/* 콤보박스 */
.jqx-combobox,
.jqx-combobox div,
.jqx-combobox-input{box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;}
.jqx-combobox-input{text-indent: 5px;}
.jqx-combobox.jqx-combobox-state-normal{border: 1px solid #bcbcbc; min-height: 28px; min-width: 125px; display: inline-block; vertical-align: middle; max-width: 100%;}
.jqx-combobox .jqx-icon-arrow-down, 
.jqx-combobox .jqx-icon-arrow-down-hover, 
.jqx-combobox .jqx-icon-arrow-down-selected {background-image: url('/cm/kait/images/custom/admin/icons/icon_arrow_combo.png'); background-repeat: no-repeat; background-position: center;}
.jqx-combobox .jqx-fill-state-normal,
.jqx-combobox .jqx-fill-state-pressed,
.jqx-combobox .jqx-fill-state-hover{background: transparent;left: auto!important;right:0px; 
width: 30px!important; 
background:#fff;
box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;
}
.jqx-combobox .jqx-widget-content{border: 0px none;}


/* 콤보박스 드롭다운 리스트 */
/*
.jqx-listbox.jqx-fill-state-focus {border-color: #bcbcbc;}
.jqx-listbox .jqx-listitem-element{color: #817d90; cursor: pointer;}
.jqx-listbox .jqx-listitem-element .jqx-fill-state-hover,
.jqx-listbox .jqx-listitem-element .jqx-listitem-state-selected{background: transparent; border-color: transparent; color: #a767a0; font-weight: normal;cursor: pointer;}
*/
/* 콤보박스 리스트(체크박스) 기본 */
/*
.jqx-listbox.jqx-widget.jqx-disableselect .jqx-listitem-element{cursor: pointer;}
.jqx-listbox .jqx-listitem-element .jqx-checkbox-default.jqx-fill-state-normal{border: 1px solid transparent; background: transparent; font-family:'微软雅黑 Regular', '微软雅黑', "Microsoft Yahei", Arial, sans-serif; font-size: 15px; font-weight: normal; color: #817d81; display: inline-block;}
.jqx-listbox .jqx-listitem-element .jqx-checkbox-default.jqx-fill-state-normal>div{cursor: pointer; width: 16px!important; height: 16px!important; box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;}
.jqx-listbox .jqx-listitem-element .jqx-checkbox-default.jqx-fill-state-normal>div>span{cursor: pointer; border: 1px solid #bcbcbc; background: #fff; width: 16px!important; height: 16px!important; display: inline-block;box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;}
.jqx-listbox.jqx-widget.jqx-disableselect .jqx-listitem-element .jqx-checkbox-default.jqx-fill-state-normal>div>span.jqx-checkbox-check-checked{cursor: pointer; border-color: #bcbcbc;background: url(/cm/kait/images/custom/admin/icons/icon_checked.png)}
*/
/* 전체선택일때 나머지 비 활성화 */
/*
.jqx-listbox.jqx-widget.jqx-disableselect.xgDisableItem .jqx-listitem-element{cursor: default;}
.jqx-listbox.jqx-widget.jqx-disableselect.xgDisableItem .jqx-listitem-element .jqx-fill-state-hover, .jqx-listbox .jqx-listitem-element .jqx-listitem-state-selected{cursor: pointer;}
.jqx-listbox.jqx-widget.jqx-disableselect.xgDisableItem .jqx-listitem-element .jqx-checkbox-default.jqx-fill-state-normal{border: 1px solid transparent; background: transparent;box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;}
.jqx-listbox.jqx-widget.jqx-disableselect.xgDisableItem .jqx-listitem-element .jqx-checkbox-default.jqx-fill-state-normal>div{width: 16px!important; height: 16px!important; box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;}
.jqx-listbox.jqx-widget.jqx-disableselect.xgDisableItem .jqx-listitem-element .jqx-checkbox-default.jqx-fill-state-normal>div>span{cursor: default; border: 1px solid #ebebeb; background: #f1f1f1;width: 16px!important; height: 16px!important;display: inline-block;box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;}
.jqx-listbox.jqx-widget.jqx-disableselect.xgDisableItem .jqx-listitem-element .jqx-checkbox-default.jqx-fill-state-normal>div>span.jqx-checkbox-check-checked{cursor: pointer; border-color: #bcbcbc;background: url('/cm/kait/images/custom/admin/icons/icon_checked.png');}
*/

/* tab */
.tab_page .jqx-tabs-headerWrapper.jqx-tabs-header.jqx-widget-header.jqx-rc-t{border-radius: 0px; background: transparent; }
.tab_page .jqx-tabs-content-element{padding: 20px 0px 0px;box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;
/*텝 바디 border: 2px solid #a767a0;*/ border-top: 0px none; border-radius: 0px; overflow: visible;
}
.tab_page .jqx-tabs-header{ padding: 0px; height: 34px!important; border-color: #a767a0; border-bottom-width: 2px!important; }
.tab_page .jqx-tabs-title-container{height: 36px!important;}
.tab_page .jqx-tabs-title.jqx-fill-state-pressed{border-radius: 0px;cursor: default; text-align: center;background: #fff; border-bottom: 0px none; border-color: #a767a0; border-width: 2px;}
.tab_page .jqx-tabs-title{border-radius: 0px; padding: 8px 50px; border: 1px solid #adadad;  border-bottom-width: 2px!important; border-bottom-color:#a767a0; background:#f5f5f5; margin-right: -1px; box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;}
.tab_page .jqx-tabs-titleWrapper{color: #808080!important; font-size: 15px;padding: 0px!important;}
.tab_page .jqx-reset.jqx-disableselect.jqx-tabs-title.jqx-item.jqx-tabs-title-selected-top.jqx-fill-state-pressed .jqx-tabs-titleContentWrapper.jqx-disableselect{text-align: center}
.tab_page{border-color: transparent; border-style: none; background: transparent;}

.tab_page .jqx-tabs-title-selected-top .jqx-tabs-titleWrapper{font-size:16px;color:#a767a0 !important;font-weight:bold;}
/* .tab_page .jqx-tabs-title.jqx-fill-state-pressed{background:#fafafa !important;} */
.tab_page .jqx-tabs-titleWrapper{font-size:16px;font-weight:bold;}
/* .tab_page .jqx-tabs-content-element{background:#fafafa;} */

/* tab web */
.tab_page_web .jqx-tabs-headerWrapper.jqx-tabs-header.jqx-widget-header.jqx-rc-t{border-radius: 0px; background: transparent; }
.tab_page_web .jqx-tabs-content-element{padding: 20px;box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;
/*텝 바디*/ border: 2px solid #a767a0; border-top: 0px none; border-radius: 0px;
}
.tab_page_web .jqx-tabs-header{ padding: 0px; height: 34px!important; border-color: #a767a0; border-bottom-width: 2px!important; }
.tab_page_web .jqx-tabs-title-container{height: 36px!important;}
.tab_page_web .jqx-tabs-title.jqx-fill-state-pressed{border-radius: 0px;cursor: default; text-align: center;background: #fff; border-bottom: 0px none; border-color: #a767a0; border-width: 2px;}
.tab_page_web .jqx-tabs-title{border-radius: 0px; padding: 8px 50px; border: 1px solid #adadad;  border-bottom-width: 2px!important; border-bottom-color:#a767a0; background:#f5f5f5; margin-right: -1px; box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing: border-box;}
.tab_page_web .jqx-tabs-titleWrapper{color: #808080!important; font-size: 15px;padding: 0px!important;}
.tab_page_web .jqx-reset.jqx-disableselect.jqx-tabs-title.jqx-item.jqx-tabs-title-selected-top.jqx-fill-state-pressed .jqx-tabs-titleContentWrapper.jqx-disableselect{text-align: center}
.tab_page_web{border-color: transparent; border-style: none; background: transparent;}

.tab_page_web .jqx-tabs-title-selected-top .jqx-tabs-titleWrapper{font-size:16px;color:#a767a0 !important;font-weight:bold;}
.tab_page_web .jqx-tabs-title.jqx-fill-state-pressed{background:#fafafa !important;}
.tab_page_web .jqx-tabs-titleWrapper{font-size:16px;font-weight:bold;}
.tab_page_web .jqx-tabs-content-element{background:#fafafa;}

/* progress tab */
.tab_top .jqx-tabs-headerWrapper.jqx-tabs-header.jqx-widget-header.jqx-rc-t{border-radius: 0px; background: transparent; border-color: transparent; border-style: none;}
.tab_top .jqx-reset.jqx-disableselect.jqx-tabs-title.jqx-item{height: 36px!important;}
.tab_top .jqx-tabs-title.jqx-fill-state-pressed{background:#a767a0 url('/cm/kait/images/custom/admin/bg_progress_first.png') no-repeat left center; border-color: transparent; border-style: none; color: #fff!important;border-radius: 0px;cursor: default;}
.tab_top .jqx-tabs-title.jqx-fill-state-pressed b{font-style: normal; color: #fff; font-weight: normal;}
.tab_top .jqx-tabs-content-element.jqx-rc-b{background: #f9f9f9;}
.tab_top .jqx-tabs-title{border-radius: 0px; border: 0px none; padding: 0px;background:#e1e1e1  url('/cm/kait/images/custom/admin/bg_progress_first.png') no-repeat left center;text-indent: 40px; margin-left: 25px; min-width: 202px;}
.tab_top .jqx-tabs-title b{font-style: normal; color: #ff0000;font-weight: normal;}
.tab_top .jqx-tabs-title:FIRST-CHILD{background-image: none; text-indent: 30px; margin-left: 0px; min-width: 195px;}
.tab_top .jqx-tabs-titleWrapper{color: #808080!important; font-size: 15px;background:  url('/cm/kait/images/custom/admin/bg_progress.png') no-repeat right center;padding: 0px; min-width: 202px;}
.tab_top .jqx-reset.jqx-disableselect.jqx-tabs-title.jqx-item.jqx-tabs-title-selected-top.jqx-fill-state-pressed .jqx-tabs-titleContentWrapper.jqx-disableselect{color: #fff!important; margin-top: 11px!important;}
.tab_top{border-color: transparent; border-style: none; background: transparent;}

/* switchbutton */
.account_state .jqx-switchbutton{display: inline-block; vertical-align: middle; background: #b0b0b0 url('/cm/kait/images/custom/admin/bg_switchbutton.png') no-repeat 50% 50%; border-radius: 10px; border-width: 2px; border-color: #b0b0b0; border-style: solid;}
.account_state .jqx-switchbutton.jqx-switchbutton-on{background-color: #a767a0; border-color: #a767a0;}
.account_state .jqx-switchbutton-wrapper {color: #fff;}
.account_state .jqx-switchbutton-wrapper.jqx-disableselect{cursor: pointer;}
.account_state .jqx-switchbutton-wrapper.jqx-disableselect>div>div{cursor: pointer;}
.account_state .jqx-switchbutton-wrapper.jqx-disableselect .jqx-switchbutton-label{font-size:11px;font-weight: normal; color: #fff;text-align: center;}
.account_state .jqx-switchbutton-wrapper.jqx-disableselect .jqx-switchbutton-label-on.jqx-switchbutton-label.jqx-disableselect,
.account_state .jqx-switchbutton-wrapper.jqx-disableselect .jqx-switchbutton-label-on.jqx-switchbutton-label.jqx-disableselect .jqx-disableselect{cursor: inherit; margin-top: 1px!important; text-align: left; text-indent: 2px;}
.account_state .jqx-switchbutton-wrapper.jqx-disableselect .jqx-switchbutton-label-off.jqx-switchbutton-label.jqx-disableselect .jqx-disableselect{cursor: inherit; margin-top: 2px!important; margin-left: 9px;}
.account_state .jqx-switchbutton-thumb {display: inline-block; cursor: pointer; border-color: #a767a0; border-style: none; background-color: #fff; border-radius: 10px;}

/* switchbutton 비활성화 */
.account_state .disabled .jqx-switchbutton-thumb {background-color: #d5d5d5;}
.account_state .disabled.jqx-switchbutton.jqx-switchbutton-on{background-color: #b0b0b0; border-color: #b0b0b0;}
.account_state .disabled .jqx-switchbutton-label{font-size:11px;font-weight: normal; color: rgba(255,255,255,0.6)!important;text-align: center;}

/*  notification */
#container,
.uini_container{background-color: rgba(255,255,255,0.0);border: 0px none; overflow: auto; position: fixed;bottom: 39px; right: 5px; width: 226px; min-height: 0px;
 max-height: 300px;}/*알람 메시지 한개의 최소 사이즈는 60px 정도입니다.*/
.uni_notification.jqx-notification{padding: 0px; background-image: none!important;background-color: #f5f5f5 !important; border-width: 0px; border-style: none!important; margin-bottom: 0px !important; margin-top: 8px !important;}
.uni_notification.jqx-notification:first-child{margin-top: 0px!important;}
.uni_notification.jqx-notification .jqx-notification-table{table-layout: fixed; border-collapse: collapse;border-spacing: 0px; border: 1px solid #a59fa5; background-color: transparent;cellspacing:0; cellpadding:0; width: 100%;min-height: 52px; max-width: }
.uni_notification.jqx-notification .jqx-notification-table td{padding: 10px;}
.uni_notification.jqx-notification .jqx-notification-icon { background: #80418a url('/cm/kait/images/custom/admin/icons/icon_notification.png') no-repeat left center !important; width: 55px;}/* 아이콘 */
.uni_notification.jqx-notification .jqx-notification-content{color: #80418a;}{color: #80418a;}/* 알림메시지내용 */
.uni_notification.jqx-notification .jqxNotificationCloseButton{background: url('/cm/kait/images/custom/admin/icons/icon_notification_close.png') no-repeat; right: 10px!important; top: auto!important;}/* 닫기버튼 */

/* 문제가 발생하면 삭제 요망  */
/* .jqx-widget-header{background: transparent !important;} */
.jqx-widget-content{font-family:'微软雅黑 Regular', '微软雅黑', "Microsoft Yahei", Arial, sans-serif; font-size: 14px; font-weight: normal; color: #817d81;}
.jqx-rc-all{border-radius: 0px !important; }
.jqx-widget, .jqx-widget-content, .jqx-widget-header, .jqx-fill-state-normal{line-height: 1!important;}

