/* global style */
html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.home {
    font-size: 40px;
    color: rgba(226, 55, 55, 1);
}

.sub-nav-area {
    float: right;
}

.sub-nav-area #themeComboBox {
    float: right;
}

.sub-nav-area .sub-nav-btn-group {
    padding-top: 35px;
}

.aligner-logo {
    padding: 10px;
    align-self: center;
}

.aligner-option-item {
    float: right;
    align-self: center;
}

.col {
    display: inline-block;
}

.flex {
    display: flex;
}

.tree-option {
    border: none;
}

.tab-option {
    margin-left: 30px;
}

.chart-group {
    width: 850px;
    height: 500px;
}

.chart-selector {
    width: 850px;
    height: 100px;
}

.chart-textarea {
    width: 850px;
    height: 150px;
}

/* tree page */
#tab_tree .grid {
    max-width: 480px;
}

#tab_tree button.update {
    margin: 20px 0;
    float: right;
}

/* menu page */
#tab_menu .options {
    margin-top: 130px;
    margin-left: 5px;
    border: solid rgb(184, 180, 180) 2px;
    border-radius: 5px;
    padding: 10px;
    width: 650px;
}

#tab_menu .option {
    display: inline-flex;
}

#tab_menu .option > div {
    margin-top: 15px;
}

/* excel import, export page */
#tab_excelImEx .btn-group {
    margin-top: 15px;
    margin-bottom: 20px;
}

#tab_excelImExSimple .btn-group {
    margin-top: 15px;
    margin-bottom: 20px;
}

/* excel copy, paste page */
#tab_excelCoPa .xg-grid {
    margin-top: 20px;
}

/* tab grid page */
#tab_tabGrid .btn-group {
    display: flex;
}

#tab_tabGrid .timeGrid {
    margin-right: 10px;
    margin-bottom: 10px;
}

#tab_tabGrid .grid-content {
    float: left;
    margin-left: 30px;
}

#tab_tabGrid .grid-label {
    margin: 20px 0 10px 0;
}

#tab_tabGrid .tab-link {
    margin-left: 20px;
}

/* chart page */
#tab_basicChart .basic-option {
    width: 30%;
    margin: 5px;
}

#tab_basicChart .basic-chart-option {
    margin: 15px;
}

#tab_basicChart .chart-option {
    width: 98%;
    height: 300px;
}

#tab_basicChart .font-option {
    text-align: center;
    font-size: 13px;
    font-family: Verdana;
    font-weight: bold;
    margin-bottom: 10px;
}

#tab_dockingChart .docking-option {
    width: 30%;
}

#tab_dockingChart .chart-option {
    width: 98%;
    height: 300px;
}

#tab_dashBoardChart .chart-option {
    width: 400px;
    height: 180px;
}

#tab_dashBoardChart .chart-inner-text {
    fill: #00BAFF;
    color: #00BAFF;
    font-size: 30px;
    font-family: Verdana;
}

#tab_gauge .gauge-value {
    position: absolute;
    top: 235px;
    left: 132px;
    font-family: Sans-Serif;
    text-align: center;
    font-size: 17px;
    width: 70px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa),
    color-stop(100%, #f3f3f3));
    background-image: -webkit-linear-gradient(#fafafa, #f3f3f3);
    background-image: -moz-linear-gradient(#fafafa, #f3f3f3);
    background-image: -o-linear-gradient(#fafafa, #f3f3f3);
    background-image: -ms-linear-gradient(#fafafa, #f3f3f3);
    background-image: linear-gradient(#fafafa, #f3f3f3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

#tab_gauge .gauge-container {
    float: left;
}

#tab_gauge .linear-gauge {
    margin-left: 20px;
    float: left;
}

/* popup page */
#tab_popupWindow div.popup-button button, .popupWindow div.popup-button button {
    margin: 20px 0 5px 5px;
    float: right;
}

#tab_popupWindow div.popup-button, .popupWindow div.popup-button {
    width: 700px;
    overflow: auto;
}

.jqx-grid-pager .jqx-button {
    padding: 0px;
    margin-right: 3px;
    width: 27px;
    float: left;
}

.jqx-grid-pager .jqx-number-block {
    float: left;
}

.jqx-grid-pager .jqx-first-button {
    margin-left: 3px;
}

.jqx-grid-pager .jqx-icon-arrow-left {
    margin-left: 6px;
    width: 15px;
    height: 15px;
}

.jqx-grid-pager .jqx-icon-arrow-right {
    margin-left: 6px;
    width: 15px;
    height: 15px;;
}

.jqx-grid-pager .jqx-icon-arrow-first {
    margin-left: 6px;
    width: 15px;
    height: 15px;
}

.jqx-grid-pager .jqx-icon-arrow-last {
    margin-left: 6px;
    width: 15px;
    height: 15px;
}