/*
    -- basic rule --
    �� ��Ÿ�� ������ ������� html������ ���� ��Ÿ�� ��Ʈ�Դϴ�.
    ��ҵ� �߿��� �ۼ�Ʈ�� ������ �ִ� �͵鵵 ������ �ᱹ�� �θ� �������� �����Ƿ�
    �������� ������ ��Ұ� �˴ϴ�.

    body �±� �ؿ� <div id = 'foo'-wrapper ></div> �� ���� �ڿ� html ������ �ۼ��մϴ�.
    wrapper�� ������ width�� ��� �ڽĵ��� width�� �����Ǵ� xs ~ xl������ wrapper�� width�� ���� �Ŀ� ����ϼ���.

*/

/*
    -- About wrapper style --
    basic rule���� �����ߵ��� ������ ���̸� �����մϴ�.
    html, body �ܿ� �ֻ��� �θ� tag�� �˴ϴ�.
*/

#xs-wrapper{
    width: 480px;
    height: auto;
}
#sm-wrapper{
    width: 640px;
    height: auto;
}
#md-wrapper{
    width: 1024px;
    height: auto;
}
#lg-wrapper{
    width: 1240px;
    height: auto;
}
#xl-wrapper{
    width: 1400px;
    height: auto;
}

/*
    About 'foo'-third, 'foo'-fifth, col-'foo'

    block ��Ҹ� ���� ������ inline ���� �����ִ� inline-block �� ���� Ŭ�������̴�.
    ��� column �� ����Ѵٰ� ���ϸ� �ǰڴ�.
    'foo'-third Ŭ������ 100% �� 3���, 'foo'-fifth�� 5���, col-'foo'�� 8��� �Ͽ��� ����Ѵ�.

*/
.one-third{
    position: relative;
    display: inline;
    width: 33.3%;
    box-sizing: border-box;
}
.two-third{
    position: relative;
    display: inline-block;
    width: 66.6%;
    box-sizing: border-box;
}
.one-fifth{
    position: relative;
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
}
.two-fifth{
    float: left;
    position: relative;
    display: inline-block;
    width: 40%;
    box-sizing: border-box;
}
.three-fifth{
    float: left;
    position: relative;
    display: inline-block;
    width: 60%;
    box-sizing: border-box;
}
.four-fifth{
    float: left;
    position: relative;
    display: inline-block;
    width: 80%;
    box-sizing: border-box;
}
.two-fifth-height{
    height: 340px;
}
.two-fifth-border{
    border-top: 1px solid rgb(164,190,212);
    border-right: 1px solid rgb(164,190,212);
    border-bottom: 1px solid rgb(164,190,212);
}
.three-fifth-height{
    height: 340px;
}
.three-fifth-border{
    border: 1px solid rgb(164,190,212);
}

.col-1s{
    position: relative;
    display: inline-block;
    width: 12.5%;
    height: auto;
    box-sizing: border-box;
}
.col-2s{
    position: relative;
    display: inline-block;
    width: 25%;
    height: auto;
    box-sizing: border-box;
}
.col-3s{
    position: relative;
    display: inline-block;
    width: 37.5%;
    height: auto;
    float: left;
    box-sizing: border-box;
}
.col-4s{
    position: relative;
    display: inline-block;
    width: 50%;
    height: auto;
    float: left;
    box-sizing: border-box;
}
.col-5s{
    display: inline-block;
    width: 62.5%;
    height: auto;
    box-sizing: border-box;
}
.col-6s{
    position: relative;
    float: right;
    display: inline-block;
    width: 75%;
    height: auto;
    box-sizing: border-box;
}
.col-7s{
    display: inline-block;
    width: 87.5%;
    height: auto;
    box-sizing: border-box;
}
.col-8s{
    display: inline-block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
/* Tag selector */
html{
    padding:0;
    margin:auto;
}
body,h1,h2,h3,h4,input,button,textarea{
/*     font-family:Gulim,Dotum,'����',Helvetica,AppleSDGothicNeo,sans-serif; */
/*     color:#383d41 */
}

/*
    --  About button  --
    ��ư�� Ŭ������ ������ �־ �� ��Ÿ���� �ҷ��� �� �ֽ��ϴ�. �׸��� ���ؼ� btn-origin, btn-black, btn-red �� ���� ������ ��ư�� �ֽ��ϴ�.
    �⺻��ư�� �����ϸ� �� ũ�Ⱑ �۽��ϴ�. �� �� Ŀ�ٶ� ��ư�� ����ϱ⸦ ���Ѵٸ� w3-btn Ŭ������ �̿��ϼ���
*/

/*.btn{*/
    /*background: snow;*/
    /*color: grey;*/
    /**/
    /*border: 1px solid grey;*/
    /*cursor: pointer;*/
    /*float: right;*/
    /*top: 7px;*/
    /*margin: 0 5px;*/
/*}*/

.btn-origin,.btn-black,.btn-red,.btn-blue,.btn-green,.btn-violet {
    background: snow;
    /*width: 50px;*/
    line-height: 18px;
    color: gray;
    border: 1px solid grey;
    
    border-radius: 10%;
    cursor: pointer;
    float: right;
    position: relative;
    margin-top: 15px;
    margin-left: 10px;
}

.btn-long{
    background: snow;
    line-height: 18px;
    color: gray;
    border: 1px solid grey;
    
    border-radius: 10%;
    cursor: pointer;
    float: right;
    position: relative;
    margin-top: 15px;
    margin-left: 10px;
}
.btn-input{
    width: 40px;
}
.btn-silent{
    /*color: rgb(60,63,65);*/
    color: white;
    /*background-color: snow;*/
    background-color: rgb(152,118,170);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: inline-block;
    line-height: 20px;
    float: right;
    cursor: pointer;
    margin-top: 14px;
    margin-left: 10px;
    text-align: center;
}
.btn-silent:hover,.btn-silent:active{
    background-color: white;
    color: rgb(152,118,170);
}
.btn-energy-blue{
    color: #ffffff;
    background-color: rgb(51, 153, 255);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: inline-block;
    line-height: 20px;
    float: right;
    cursor: pointer;
    margin-top: 14px;
    margin-left: 10px;
    text-align: center;
}
.btn-energy-blue:hover,.btn-energy-blue:active{
    background-color: #ffffff;
    color: rgb(51, 153, 255);
}
.btn-conversion{
    color: snow;
    background-color: rgb(60,63,65);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


    /*border-radius: 10%;*/
    /*width: 80px;*/
    display: inline-block;
    line-height: 20px;
    float: right;
    cursor: pointer;
    margin-top: 14px;
    margin-left: 10px;
    text-align: center;
}
.btn-conversion:hover,.btn-conversion:active{
    background-color: snow;
    color: rgb(60,63,65);
}
.w3-btn, .w3-btn:link, .w3-btn:visited {
    color:rgb(60,63,65);
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /*border-radius: 10%;*/
    /*width: 80px;*/
    display: inline-block;
    line-height: 20px;
    float: right;
    cursor: pointer;
    margin-top: 14px;
    margin-left: 10px;
    text-align: center;
}
.w3-btn:hover,.w3-btn:active{
    background-color: rgb(60,63,65);
    color: #ffffff;
}
.btn-primary{
    background-color: rgb(51,122,183);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /* display: inline-block; */
    line-height: 20px;
    /* float: right; */
    cursor: pointer;
    /* margin-top: 14px;
    margin-left: 10px; */
    text-align: center;
}
.btn-success{
    background-color: rgb(92,184,92);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


    /*border-radius: 10%;*/
    /*width: 80px;*/
    display: inline-block;
    line-height: 20px;
    float: right;
    cursor: pointer;
    margin-top: 14px;
    margin-left: 10px;
    text-align: center;
}
.btn-info{
    background-color: rgb(91,192,222);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


    /*border-radius: 10%;*/
    /*width: 80px;*/
    display: inline-block;
    line-height: 20px;
    /* float: right; */
    cursor: pointer;
    /* margin-top: 14px;
    margin-left: 10px; */
    text-align: center;
}
.btn-warning{
    background-color: rgb(240,173,78);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /* display: inline-block; */
    line-height: 20px;
    /* float: right; */
    cursor: pointer;
    /* margin-top: 14px;
    margin-left: 10px; */
    text-align: center;
}
.btn-danger{
    background-color: rgb(217,83,79);
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


    /*border-radius: 10%;*/
    /*width: 80px;*/
    display: inline-block;
    line-height: 20px;
    /* float: right; */
    cursor: pointer;
    /* margin-top: 14px;
    margin-left: 10px; */
    text-align: center;
}
.btn-primary:hover, .btn-primary:active{
    background-color:#ffffff;
    color: rgb(51,122,183);
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-success:hover,.btn-success:active{
    background-color:#ffffff;
    color: rgb(92,184,92);
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-info:hover,.btn-info:active{
    background-color:#ffffff;
    color: rgb(91,192,222);
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-warning:hover,.btn-warning:active{
    background-color:#ffffff;
    color: rgb(240,173,78);
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-danger:hover,.btn-danger:active{
    background-color:#ffffff;
    color: rgb(217,83,79);
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/*.w3-btn:hover,.w3-btn:active {*/
/*background-color:#ffffff;*/
/*color:#8AC007;*/
/*box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
/*}*/
button.btn-origin:hover{
    background: white;
    color: black;
    border: 1px solid black;
}
button.btn-black:hover{
    background: black;
    color: white;
}
button.btn-red:hover{
    background: darkred;
    color: white;
}
button.btn-blue:hover{
    background: cadetblue;
    color: white;
}
button.btn-green:hover{
    background: seagreen;
    color: white;
}
button.btn-violet:hover{
    background: navy;
    color: white;
}
button.search:hover{
    background: slategray;
    color: white;
}
button.save:hover{
    background: slategray;
    color: white;
}
button.btn:hover{
    background: slategray;
    color: white;
}

div.tr input{
    width: 125px;
}
header{
    width: 100%;
    /*background: steelblue;*/
    background: gainsboro;
    color: black;

    border-bottom: 1px solid slategray;
}
section{
	width: 100%;
/* 	margin: 5px 0; */
}
span.text-space{

    margin-right: 30px;
}
/*
    --  About table --
    table �±׿� Ŭ������ ���ؼ� ����մϴ�. th �±� �ؿ��� state-th, td �±� �ؿ��� state-td,
    ��ó�� ������ ������ �ֽ��ϴ�.
*/

table.state{
    width: 95%;
    border-collapse: collapse;
    text-align: left;
    line-height: 0.5;
    font-size: 12px;
    margin : 0 10px;
}
table th.state-th{
    width: 12%;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    background: beige;
    border: 1px solid #ccc;
}
table td.state-td {
    width: 19%;
    padding: 10px;
    vertical-align: top;
    border: 1px solid #ccc;
}

textarea{
    width: 96%;
    margin: 1.5% 1.5%;
    border: 1px solid beige;
    border-radius: 1%;
    resize: none;
    background: snow;
}
/*
    -- About icons --
    �������� font-awesome �� ����߽��ϴ�. http://fortawesome.github.io/Font-Awesome/ �� ����ϼ���.
    �⺻��� ����� i�±׷� ���ΰ� i�±׿� ������ Ŭ������ �ָ� �˴ϴ�. ex <i class="fa fa-user"></i>
*/
.fa{
    margin:10px 10px;
}

.fa-th,.fa-table,.fa-bar-chart,.fa-desktop,.fa-sticky-note-o,
.fa-paw,.fa-cube,.fa-calendar,.fa-envelope-o,.fa-envelope,
.fa-cloud-upload,.fa-dribbble,.fa-user,.icon{
    position: relative;
    padding: 5px;
    text-align: center;
    /*background: darkgrey;*/
    background: rgb(82,182,220);
    border-radius: 100%;
    border: 1px solid ghostwhite;
    color: white;
}
.fa-trash-o,.fa-comments-o,.fa-commenting-o,.fa-spinner,.fa-hourglass-end{
    width: 16px;
    height: 16px;
    position: relative;
    padding: 5px;
    text-align: center;
    /*background: darkgrey;*/
    background: rgb(82,182,220);
    border-radius: 100%;
    border: 1px solid ghostwhite;
    color: white;
}
.fa-clock-o{
    /*color: darkgrey;*/
    color: rgb(82,182,220);;
    position: relative;
    top: 5px;
    /*background: darkgrey;*/
    /*color: white;*/
    /*border: 1px solid darkgrey;*/
}
.fa-save,.fa-search,.fa-trash,.fa-plus,.fa-share-square-o,.fa-play-circle-o,.fa-registered,.fa-file-excel-o,.fa-history,.fa-pencil{
    margin: 0 5px;
}
/*
    -- About tiny tweaks ( left,top, right, bottom ) --
    1.pullLeft Xs ~ Xl -10px ���� -50�ȼ����� �������� ����. ( default == -65px )

*/
.pullLeft{
    position: relative;
    left: -65px;
}
.pullLeftXs{
    position: relative;
    left: -10px;
}
.pullLeftSm{
    position: relative;
    left: -20px;
}
.pullLeftMd{
    position: relative;
    left: -30px;
}
.pullLeftLg{
    position: relative;
    left: -40px;
}
.pullLeftXl{
    position: relative;
    left: -50px;
}

/* ID selector */

#first-section{
    background: cornsilk;
    border-bottom: 1px solid burlywood;
}
#second-section{
    width: 100%;
    height: auto;
    /*border-top: 1px solid black;*/
    /*border-bottom: 1px solid navy;*/
}
#grid_UsrInfo{
    width: 100%;
    height: auto;
}
#option{
    clear: both;
    float: none;
}
#option.one-third-origin{
    text-align: right;
    
    float: right;
    color: gray;
    position: relative;
    display: block;
    width: 330px;
    left: -20px;
    top: 5px;
}
#option.one-third-black{
    text-align: right;
    
    float: right;
    color: white;
    position: relative;
    display: block;
    width: 330px;
    left: -20px;
}
#theme{
    width: 100px;
    height: auto;
}
#pnl_grid{
    position: relative;
    float: left;
    display: inline-block;
    width: 50%;
}
#tab_1{
    position: relative;
    float: right;
    display: inline-block;
    width: 50%;
}

/* class selector */
.date-form{
    position: relative;
    display: inline-block;
    left: -20px;
}
.input-form{
    width: 123px;
    border-radius: 5%;
    background: snow;
    margin: 0 6px;
}
.combo-form{
    width: 100px;
    border-radius: 5%;
    background: snow;
    position: relative;
    display: inline-block;
    top: 5px;
}
.xg-grid,.xg-grid2{
    display: inline-block;
}

.search{
    position: relative;
    background: snow;
    color: grey;
    
    border: 1px solid grey;
    cursor: pointer;
    float: right;
    top: 12px;
    left: -12px;
    margin-right: 10px;
}
.save{
    position: relative;
    background: snow;
    color: grey;
    
    border: 1px solid grey;
    cursor: pointer;
    float: right;
    top: 12px;
    left: -12px;
}

.used{
    width: 102px;
}

.five2x{
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 50px;
    vertical-align: middle;
}
.ten-2{
    position: relative;
    display: inline-block;
    width: 98px;
}
.btn-group {
    position: relative;
    display: inline-block;
    left: -20px;
    float: right;
    margin: auto;
}

.xg-chart{
    height: 250px;
}
.devide{
    border-bottom: 1px solid rgb(164,190,212);
}
.header-origin{
    width: 100%;
    background: gainsboro;
    color: black;
    
    border-bottom: 1px solid slategray;
}
.header-black{
    width: 100%;
    background: black;
    color: white;
    
    border-bottom: 1px solid gray;
}
.header-blue{
    width: 100%;
    background: cadetblue;
    color: white;
    
    border-bottom: 1px solid navy;
}
.header-violet{
    width: 100%;
    background: navy;
    color: white;
    
    border-bottom: 1px solid navy;
}
.header-green{
    width: 100%;
    background: seagreen;
    color: white;
    
    border-bottom: 1px solid navy;
}
.header-red{
    width: 100%;
    background: darkred;
    color: white;
    
    border-bottom: 1px solid navy;
}
.first-section-origin{
    background: cornsilk;
    border-bottom: 1px solid navy;
}
.first-section-black{
    background: gray;
    color: white;
    border-bottom: 1px solid navy;
}
.first-section-blue{
    background: steelblue;
    color: white;
}
.first-section-violet{
    background: mediumvioletred;
    color: white;
}
.first-section-green{
    background: lightseagreen;
    color: white;
}
.first-section-red{
    background: orangered;
    color: white;
}
.middle{
    text-align: center;
}
.left-section-origin{
    width: 20%;
    float:left;
    background: beige;
    color: black;

}
.left-section-black{
    width: 20%;
    float:left;
    background: darkslategray;
    color: white;
}
.left-section-blue{
    width: 20%;
    float:left;
    background: lightskyblue;
    color: black;
}
.left-section-violet{
    width: 20%;
    float:left;
    background: palevioletred;
    color: black;
}
.left-section-green{
    width: 20%;
    float:left;
    background: lightgreen;
    color: black;
}
.left-section-red{
    width: 20%;
    float:left;
    background: pink;
    color: black;
}
.right-section-origin{
    width: 80%;
    float: left;
    background: lightgoldenrodyellow;
    color: black;
}
.right-section-black{
    width: 80%;
    float: left;
    background: snow;
    color: black;
}
.right-section-blue{
    width: 80%;
    float: left;
    background: snow;
    color: black;
}
.right-section-violet{
    width: 80%;
    float: left;
    background: snow;
    color: black;
}
.right-section-green{
    width: 80%;
    float: left;
    background: whitesmoke;
    color: black;
}
.right-section-red{
    width: 80%;
    float: left;
    background: snow;
    color: black;
}
.th{
    line-height: 30px;
    vertical-align: middle;
    padding: 3px 4px 1px 4px;
    border-bottom: 1px solid saddlebrown;
    font-size: 14px;
    
}
.tr{
    line-height: 30px;
    vertical-align: middle;
    padding: 3px 6px 1px 5px;
    border-bottom: 1px solid saddlebrown;
    border-left: 1px solid saddlebrown;
    font-size: 14px;
}
.th-two{
    line-height: 60px;
    vertical-align: middle;
    padding: 3px 4px 1px 4px;
    border-bottom: 1px solid saddlebrown;
    font-size: 14px;
    
}
.dailyContent{
    width: 100%;
    margin: auto;
}
.themeController{
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border: 1px black solid;
    cursor: pointer;
}


.info-box{
    width: 300px;
    border-style: none;
    color: red;
 }
.info-box-1{
    width: 100%;
    border: none;
}
.state-grid{
    height: 300px;
}
.small{
    font-weight: normal;
    font-size: 12px;
}
.tweaks{
    position: relative;
    left: -5px;
}
.small-line-one{
    position: relative;
    display: inline-block;
}
.container-height{
    height: 50px;
}
.background-blue{
    background: rgb(224,233,245);
    border-bottom: 1px solid steelblue;
}
.grid-container{
    height: 335px;
}
.grid-container1{
    height: 602px;
}
.float-right{
    position: relative;
    float: right;
}
.float-left{
    position: relative;
    float: left;
}